.faq {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 25px;
    align-items: center;
    gap: 30px;

    h2 {
        font-family: "Space Mono";
        font-weight: 700;
        font-size: 32px;
        line-height: 32px;
        
    }


    &_list {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 45px;

        &_title {
            h3 {
                font-family: "Space Mono";
                font-weight: 700;
                font-size: 24px;
                line-height: 28px;
                text-align: center;
            }
        }


        &_qa {
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: 15px;



            h4 {
                font-family: "Space Mono";
                font-weight: 700;
                color: black;
                font-size: 18px;
                line-height: 24px;
            }

            p {
                font-family: "Space Mono";
                font-weight: 400;
                color: black;
                font-size: 15px;
                line-height: 25px;
                margin-top: 25px;
            }

            .qa_item {
                background-color: #F2F5F9;
                padding: 32px;

                &.open {

                    .question svg {
                        transform: rotate(180deg);
                    }

                }
        
                .question {
                    display: flex;
                    justify-content: space-between;


                    svg {
                        width: 24px;
                        height: 24px;

                    }
                }

            }

        }

    }
}

@media (min-width: 1110px) {
    .faq {
        padding: 0 165px;

        &_list {
            flex-direction: row;

            &_title {
                width: 30%;
            }

            &_qa {
                width: 70%;
            }
        }

    }
}