.faq {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 25px 120px 25px;
    align-items: center;
    gap: 30px;

    &_list {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 48px;

        &_title {
            h3 {
                text-align: center;
            }
        }


        &_qa {
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: 15px;



            h4 {
                color: black;
            }

            .qa_item {
                background-color: #F2F5F9;


                &:hover {
                    background-color: rgba(255, 244, 223, 1);
                }

                &.open {

                    .question svg {
                        transform: rotate(180deg);
                    }

                    p {
                        display: block;
                        font-family: "Lexend Deca";
                    }

                }
        
                .question {
                    display: flex;
                    justify-content: space-between;
                    padding: 32px;


                    svg {
                        width: 24px;
                        height: 24px;

                    }
                }

                p {
                    display: none;
                    color: black;
                    padding: 0 32px 32px 32px;
                }

            }

        }

    }
}

@media (min-width: 768px) {
	.faq {
		padding: 0 40px 120px 40px;
	}
}

@media (min-width: 1024px) {
    .faq {
        padding: 0 165px 120px 165px;

        &_list {
            flex-direction: row;

            &_title {
                width: 30%;
				
				h3 {
					text-align: start;
				}
            }

            &_qa {
                width: 70%;
            }
        }

    }
}