/* Footer */

footer {
    background-color: #333A44;
    padding: 64px 0 88px;
    text-align: center;
}

footer .logo {
    color: #fff;
    padding-top: 20px;
}

a {
    text-decoration: none;
    color: #939CAA; 
}
.nav--footer ul {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: 40px;
    flex-direction: column;
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-top: 85px;
}

 a:hover {
    color: #FCB72B;
}
/* CTA */

.section-3 {
    position: relative;
    background-color: #495567;
    
}

.section-3::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("/footer-elM.svg");
    background-size: cover;
    background-position: right;
    height: 50%;
}

.text {
    display: flex;
    position: relative;
    text-align: center;
    color: #fff;
    line-height: 32px;
    padding: 88px 0;
    flex-direction: column;
}

.app {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 12px;

}

.app img {
    height: 40px;
}

/*Media Queries*/
@media (min-width: 768px) {

    footer {
      padding: 0;
    }
  
    footer .container {
      padding: 35px 40px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    
    .nav--footer ul {
        display: flex;
        justify-content: center;
        gap: 32px;
        margin-top: 0;
        flex-direction: row;
    }
    
    .nav--footer {
        margin-right: 100px;
    }
    .app {
        padding-left: 15%;
    }
    .social {
        margin-top: 0;
    }
    .text {
        padding: 88px 58px;
        flex-direction: row;
      }
    
}

@media (min-width: 1440px) {
    footer .container {
        padding: 35px 160px;
      }
  
      .nav--footer {
          margin-right: 500px;
      }
      text {
        padding: 100px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        
    }

  .text h2 {
        width: 415px;
        text-align: left;
    }

    .section-3::after {
        background-size: contain;
        background-repeat: no-repeat;
    }

    .app {
        padding: 0 80px;
    }

    .app img {
        height: 56px;
    }
  
  }