.hiring {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0 32px 120px 32px;

  & .card_box {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      padding: 36px 32px 32px 32px;
      background-color: #F2F5F9;
      gap: 16px;

      & .box_names {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 4px;
      }

      & .box_btn {
          width: 100%;

          & button {
              width: 100%;
          }
      }
  }
}

@media (min-width: 768px) {
  .hiring {
      padding: 0 40px 120px 40px;

      & .card_box {
          flex-direction: row;
          padding: 34px 48px;
          gap: unset;

          & .box_names {
              align-items: flex-start;
              gap: 8px;
          }

          & .box_btn {
              width: unset;
          }
      }
  }
}

@media (min-width: 1024px) {
  .hiring {
      padding: 0 165px 160px 165px;
      gap: 24px;

      & .card_box {
          flex-direction: row;
          padding: 34px 64px 34px 40px;
      }
  }
}
