.perks {
    display: flex;
    flex-direction: column-reverse;
    font-family: "Space Mono";
    justify-content: center;
    padding: 0 25px;
    gap: 55px;
    align-items: center;

    &_content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;

        h2 {
            font-weight: 700;
            font-size: 32px;
            line-height: 32px;
            text-align: center;
        }

        p {
            margin-top: 30px;
            font-weight: 400;
            font-size: 15px;
            line-height: 25px;
            text-align: center;
        }

        button {
            background-color: #FCB72B;
            color: white;
            font-weight: 700;
            font-size: 15px;
            line-height: 25px;
            padding: 14px 48px;
            margin-top: 30px;
        }

    }

    &_media {
        position: relative;
        display: flex;
        justify-content: center;

        &_image {

            max-width: 311px;
            max-height: 311px;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            aspect-ratio: 1 / 1;

            img {
                width: 100%;
                height: 150%;
            }
        }

        & svg {
            position: absolute;
            bottom: -15px;
            width: 225%;
            left: 0;
        }
    }

}


@media (min-width: 768px){

    .perks {
        padding: 0 98px;
    }

    .perks_media_image {
        min-width: 445px;
        min-height: 445px;
        max-width: 445px;
        max-height: 445px;
    }


    .perks_right .perks_media_image {
        box-shadow: 485px 0 0 #E5ECF4;
      }
      
    .perks_left .perks_media_image {
        box-shadow: -485px 0 0 #E5ECF4;
      }

}

@media (min-width: 1110px) {


    .perks.perks_right {
        flex-direction: row;
    }

    .perks.perks_left {
        flex-direction: row-reverse;
    }

    .perks {
        padding: 0 165px;
        flex-direction: row;
        gap: clamp(176px, 18%, 220px);

        &_content {
            width: 50%;
            height: 310px;
            max-width: 445px;
            align-items: flex-start;

            h2 {
                text-align: left;
            }

            p {
                text-align: left;
            }

            button {
                align-items: left;
            }
        }
        &_media {
            width: 50%;
            &_image {
            }

        }
    }
}
    


