.sub_banner {
    width: 100%;
    height: 160px;
    background-color: rgba(73, 85, 103, 0.75);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;


    &_background {
        background: url("/banner_scoot.png") no-repeat bottom left;
        background-size: cover;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: -1;
    }

    &_title {
        align-items: center;

        svg {
            display: none;
        }

        & p {
            font-family: "Space Mono";
            font-size: 56px;
            font-weight: 700;
            color: white;
            padding-left: 40px;
        }
    }
}

@media (min-width: 768px){

    .sub_banner {

        &_title {
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;

            svg {
                display: block;
            }
    
            & p {
                font-family: "Space Mono";
                font-size: 56px;
                font-weight: 700;
                color: white;
                padding-left: 40px;
            }
        }

    }

}

@media (min-width: 1110px) {

    .sub_banner {

        &_title {
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;

            svg {
                display: block;
            }
    
            & p {
                font-family: "Space Mono";
                font-size: 56px;
                font-weight: 700;
                color: white;
                padding-left: 165px;
            }
        }

    }


}


