:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: black;
  background-color: white;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
padding: 0;
margin: 0;
box-sizing: border-box;
}

ol, ul {
list-style: none;
}


main {
  width: 100%;
}

button {
  border: none;
  outline: none;
}

p .paragraphe {
  font-family:"Lexend Deca";
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
}


h1 {

  font-family: "Space Mono";
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -1.79px;
  }
  
  h2 {
    font-family: "Space Mono";
    font-size: 32px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -1.43px;
  }
  
  h3 {
  
    font-family: "Space Mono";
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -1.07px;
  }
  
  h4 {
    font-family: "Space Mono";
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.8px;
  }
  
  button {
      width: fit-content;
      background-color: #FCB72B;
      color: #fff;
      padding: 14px 39px;
      border: none;
      border: #FCB72B solid 1px;
      font-size: 0.938em;
      cursor: pointer;
  
      &:hover {
          background-color: #fff;
          color: #FCB72B;
          border: #FCB72B solid 1px;
          transition: color 0.3s ease;
      }
  }
  
  @media (min-width: 768px) {
      h1 {
          font-size: 56px;
          font-weight: 700;
          line-height: 56px;
          letter-spacing: -2.5px;
      }
  
      h2 {
          font-size: 48px;
          font-weight: 700;
          line-height: 48px;
          letter-spacing: -2.14px;
      }
  
      h3 {
          font-size: 40px;
          font-weight: 700;
          line-height: 48px;
          letter-spacing: -1.79px;
      }
  
      h4 {
          font-size: 24px;
          font-weight: 700;
          line-height: 28px;
          letter-spacing: -1.07px;
      }
  }